<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello</title>
</head>
<body>
<p>一九八四年 庄稼还没收割完</p>

<p>儿子躺在我怀里 睡得那么甜n</p>

<P>今晚的露天电影 没时间去看</P>

<P>妻子提醒我修修缝纫机的踏板</P>
<p>明天我要去邻居家再借点钱</p>
<p>孩子哭了一整天哪 闹着要吃饼干</p>
<p>蓝色的涤卡上衣 痛往心里钻</p>
<p>蹲在池塘边上 狠狠给了自己两拳</p>
<p>这是我父亲日记里的文字</p>
<p>这是他的青春留下来的散文诗</p>
<p>多年以后我看着泪流不止</p><p>可我的父亲已经老得像一个影子</p><p>——《父亲写的散文诗》</p>
<form action="count" >
    <textarea cols="100" rows="40" name="text">shuru</textarea>
    <br>
    <input type="submit" value="count">
</form>


</body>
</html>